mixin btn(text, color, back, hover, font, size, width, height, corner, border='border-none')
    button(class!=attributes.class class=`flex justify-center items-center text-${color} font-${font} text-[${size}] w-[${width}] h-[${height}] bg-${back} border border-${border}  rounded-[${corner}] text-nowrap hover:bg-${hover} transition-colors` type='button' data-type!=attributes.modal) #{text}
    
