-
    let itemsStuff = [{img: 'avatargirl',text: 'I can take care of your pitch', alt: 'girl'},
        {img: 'avatarboy', text: 'I can design you website', alt: 'boy'},
        {img: 'avatarmister', text: 'I can help marketing strategy', alt: 'man'},
        {img: 'avatarlady', text: 'I can prototype your app', alt: 'woman'}];

section(class='pt-[73px] md:pt-[50px] bg-back-stuff bg-[center_top] bg-[length:1000px_400px] md:bg-[length:1800px_390px] bg-no-repeat')
    div(class='container mx-auto px-[30px] flex flex-col items-center')
        h2(class='text-[32px] leading-[1.5] font-bold mb-[8px] text-center md:mb-[25px]') Quick & Easy Process
        p(class='font-medium leading-[1.6] text-center mb-[40px] max-w-[540px]') Do you require some help for your project: Conception workshop, prototyping, marketing strategy, landing page, Ux/UI?
        ul(class='flex flex-col gap-[32px] mb-[32px] md:mb-[50px] md:flex-row md:flex-wrap md:justify-center md:gap-y-[25px] md:gap-x-[50px] bg:gap-x-[100px]')
            each card, p in itemsStuff
                li(class=`flex gap-[14px] items-center even:flex-row-reverse max-w-[408px] order-${p+1} bg:last:order-2`)
                    img(class='w-[90px] h-[90px]' src=`../img/${card.img}.jpg` srcset=`../img/${card.img}2x.jpg` alt=card.alt)
                    p(class='font-medium text-center max-w-full md:w-stuffMD h-[65px] bg-colorSec rounded-[25px] pt-[12px] px-[28px] pb-[4px] shadow-stuffShadow') #{card.text}
        +btn('Contact our expert', 'colorSec', 'colorAccent', 'colorAccentHov', 'bold', '16px', '216px', '53px', '4px')(modal="contact") 